
* {
    margin: 0;
    padding: 0;
    background-color: #1B2028;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
<<<<<<< HEAD
    margin: 5%, 0, 5%, 7%;
=======
    margin: 5%, 0, 5%, 5%;
>>>>>>> d425ef01d540f848b767bb80ea0a77abf4759089
    gap: 20px;  
}

.icon {
   max-height: 30px;
   max-width: 30px;
   color: #4B5975;
}