@font-face {
    font-family: 'Koh Santepheap';
    src: url('./fonts/KohSantepheap-Regular.ttf') format('truetype');
  
  }


.contianer {
    display: flex;
    flex-direction: column;
 
}


.input {
display: flex;
width: 289px;
height: 43px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 30px;
margin-top: 27px;

color: #D1D0C5;
font-family: Koh Santepheap;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
letter-spacing: 0.6px;
}