@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap");

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}
.menublock,
.smallmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0 1rem 0;
    height: 40px;
    background-color: #151a21;
    border-radius: 10px;
}

.smallmenu{
    display: none;
}

.menublock button,
.smallmenu button {
    display: flex;
    align-items: center;
    border: none;
    background-color: #151a21;
}

.menublock button span,
.smallmenu button span {
    background-color: #151a21;
    font-family: "Koh Santepheap";
    color: #4b5975;
    transition: transform 0.2s ease-in-out;
}

.menublock button:hover span,
.smallmenu button:hover span {
    color: #dfdfdf;
    transform: scale(1.15);
}

.innerleft {
    display: flex;
    height: 100%;
    gap: 1rem;
    background-color: #151a21;
}

.icon {
    font-size: 1rem;
    background-color: #151a21;
    padding-right: 0.5rem;
}

.innerright {
    display: flex;
    padding-left: 1rem;
    gap: 1rem;
    width: fit-content;
    margin-left: 1rem;
    background-color: #151a21;
    border-left: 1px solid white;
}

.none {
    display: none;
}

.active {
    display: flex;
}

.smallmenu .popup {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.smallmenu .popup .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 1rem;
    background-color: #1b2028;
}

.smallmenu .popup .innerbottom {
    flex-direction: column;
    margin-top: 0.5rem;
}

.smallmenu .popup .innertop button,
.smallmenu .popup .innerbottom button {
    display: flex;
    justify-content: center;
    width: 20rem;
    border: 1px solid #151a21;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
    border-radius: 10px;
}

.smallmenu .popup .innertop button span,
.smallmenu .popup .innerbottom button span {
    color: #dfdfdf;
}

.smallmenu .popup .innertop button:hover,
.smallmenu .popup .innertop button:hover > span,
.smallmenu .popup .innertop button:hover > span > .icon,

.smallmenu .popup .innerbottom button:hover,
.smallmenu .popup .innerbottom button:hover > span,
.smallmenu .popup .innerbottom button:hover > span > .icon {
    color: #151a21;
    background-color: #007acc;
}

@media (min-width: 400px) and (max-width: 600px){
    .menublock{
        display: none;
    }

    .smallmenu{
        display: flex;
    }
}

.cuscontain {
    z-index: 99;
    position: relative; /* Changed from grid to relative */
    background-color: bisque;
    display: grid; /* Added */
    justify-content: center; /* Added */
    align-items: center; /* Added */
}