@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1B2028;
    position: sticky;
    top: 0;
}

nav .left{
    display: flex;
    align-items: center;
}

nav .right{
    display: flex;
    align-items: center;
}

nav .left div{
    font-family: Inter;
    font-weight: 500;
    letter-spacing: -0.176px;
}

nav .left div p:first-child{
    color: #8f8e8e;
    font-size: 0.7rem;
}

nav .left div p:last-child{
    color: #dfdfdf;
    font-size: 1.7rem;
}

.icon{
    color: #4B5975;
    font-size: 1.5rem;
    margin-left: 1rem;
    transition: transform 0.2s ease-in-out;
}

.icon:hover{
    color: #dfdfdf;
    transform: scale(1.3);
}

.icon:active{
    color: #007ACC;;
}