.FirstContainer {
    display: flex;
    background-color: #4B5975;
    border-radius: 25px;
    width: 84%;
    margin-left: 8%;
    padding: 10px; /* Add padding as needed */
}

.FirstBlock {
    display: flex;
    height: auto;
    width: 30%; 
    align-items: center; /* Center the content vertically */
    background-color: #4B5975;
}

/* Add any additional styling for child elements as needed */
.imageContainer {
    margin-left: 24px;
    margin-right: 15px;
    display: flex;
    background-color: #4B5975;
    box-shadow: #4B5975;
   

}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #4B5975;
}

.nameContainer {
    margin-right: 5px;
}

.name {
    background-color: #4B5975;
    font-weight: bold;
    color: #D1D0C5;
    font-size: 26px;
    padding-bottom: 8px;
}

.join {
    background-color: #4B5975;
    color: #D1D0C5;
    font-size: 14px;
    
}

/* .tests1 {
    margin-left: 80%;
} */

.secondBlock {
    width: 60%;
    background-color: #4B5975;
}


.secondBlockContainer {
    display: flex;
    justify-content: space-around;
    background-color: #4B5975;
    margin-top: 30px;
}

.test {
    text-align: center;
    justify-self: center;
    font-size: 24px;
    color: #D1D0C5;
    background-color: hsl(220, 22%, 38%);
    margin-top: auto;
    font-family: 'Koh Santepheap', sans-serif;
}

.Num {
    
    font-size: 64px;
    color: #D1D0C5;
    background-color: #4B5975;
    font-family: 'Koh Santepheap', sans-serif;
    
}


.firstRow {
    margin-left: 5%;
    width: 90%;
    height: fit-content;
}


.secondRow , .thirdRow {
    
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5%;
    justify-content: space-between;
    background-color: #4B5975;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 40px;
}

.thirdRow {
    margin-left: 7%;
    height: fit-content;
}

.tittle {
    background-color: #4B5975;
    font-size: 28px;
    font-weight: bold;
    color: #007ACC;
    text-align: center;
    font-family: 'Koh Santepheap', sans-serif;
    gap: 5%;
   
}

.secondContainer {
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-right: 7%;
    margin-top: 1%;
    margin-left: 8%;
}

.leftbox {
    flex-grow: 1;
    flex-wrap: wrap;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    background-color: #4B5975;
    border-radius: 25px;
    padding: 10px;
    margin-right: 1%;
    
}

.rightbox {
    flex-grow: 1;
    flex-wrap: wrap;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    background-color: #4B5975;
    border-radius: 25px;
    padding: 10px; /* Add padding as needed */
}

.tittle {
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    color: #007ACC;
    text-align: center;
    font-family: 'Koh Santepheap', sans-serif;
    gap: 5%;
}

.tests {
    margin: auto;
}


@media (min-width: 400px) and (max-width: 600px){
    
    .FirstBlock, .FirstContainer {
        flex-direction: column;
    }

    .secondContainer {
        flex-wrap: wrap;
    }

    .FirstBlock {
    text-align: center;
        margin-left: auto;
        width: 100%;
    }

    .picture {
        margin-left: 0;
    }

    .secondBlockContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-left: 17%;
    }



    .tittle {
    font-size: 20px;
    margin-top: 0.5%;
    }

    .test {
        font-size: 16px;
        
    }

    .Num {
        font-size: 14px;
    }

    .firstBlock {
        margin-top: 2%;
        margin-bottom: 2%;
        width: max-content;
        margin-left: 7%;
    }
}

@media (min-width: 600px) and (max-width: 950px){
    

    .tittle {
    font-size: 24px;
    margin-top: 0.5%;
    }

    .test {
        font-size: 20px;
        
    }

    .Num {
        font-size: 38px;
    }


}