@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap');
@font-face { font-family: 'Koh Santepheap'; }


.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 2em;
    width: 80%;
    margin-left: 10%;
}


.word {
    font-weight: bold;
    color: #4B5975;
    font-family: 'Koh Santepheap', sans-serif;
    font-size: 32px;
}

.num {
    color: #007ACC;
    font-size: 40px;
}

.numW {
    color: #D1D0C5;
    font-size: 40px;
}

.chartContainer {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    height: 10%;
    margin-bottom: 5%;
}

.restartContainer {
    display: flex;
    justify-content: center;
}

.restart {
    color: #007ACC;
    margin-bottom: 5%;
    font-size: 30px;
    outline: none;
    border: none;
}