@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap');
@font-face { font-family: 'Koh Santepheap'; }

.tittle {
    text-align: center;
color: #4B5975;
font-family: "Koh Santepheap", ' sans-serif';
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 60px */
letter-spacing: 1.6px;
}